* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    padding: 1px;
    background-color: rgb(224, 219, 224); /* E3E4E5   Ebd1e7*/
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

.header {
    color: #16363A;
    background-color: #95BCCC;
    width: 800px;
    height: 75px;
    border: .1px solid #000;
    box-shadow: -3px 3px 10px 0 rgba(55, 57, 60, 0.3);
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
    padding-top: 5px;
}
 
.main {

    color: #16363A;
    background-color: hsla(197, 35% , 69%, 1);
    border: 0.05px solid #000;
    box-shadow: 3px 3px 10px 0 rgba(55, 57, 60, 0.3);
    padding: 10px;
    width: 800px;
    height: 500px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 23px;
    font-weight: 600;
}

.displacement {
    margin-top: 60px;
}

.cipher-section {
    padding: 50px;
    display: flex;
}

.cipher, .decipher {
    display: flex;
    flex-direction: column;
}

.inputdisplacement {
    width: 50px;
    height: 30px;
    border-radius: 13px;
    border: 0.05px solid #000;
    box-shadow: 0px 0px 5px 0 rgba(55, 57, 60, 0.3);
    outline: #8B929A;
    text-align: center;
    font-size: 20px;
}

#inputmsg, #inputciphermsg {
    margin-top: 10px;
    width: 300px;
    height: 200px;
    border-radius: 30px;
    border: 0.05px solid #000;
    box-shadow: 0px 0px 3px 0 rgba(55, 57, 60, 0.3);
    outline: #8B929A;
    text-align: center;
}

.buttonBasic {
    margin-top: 10px;
    width: 120px;
    height: 35px;
    border-radius: 12px;
    border: 1px solid #000;
    box-shadow: 0px 0px 5px 0 rgba(55, 57, 60, 0.3);
    align-self: flex-end;
    font-size: 20px;
    font-weight: bold;
}


#inputmsg {
    margin-right: 20px;
}

#inputciphermsg {
    margin-left: 20px;
}

.buttonOne {
    background-color: #16363A;
    color: #fff;
    padding-top: 2px;
    margin-right: 25px;
}

.buttonOne:hover {
    background-color: #fff;
    border: 0.05px solid #000;
    color: #16363A;
}

.buttonTwo {
    background-color: #fff;
    border: 0.05px solid #000;
    color: #16363A;
    padding-top: 2px;
    margin-left: 30px;
}

.buttonTwo:hover {
    background-color: #16363A;
    color: #fff;
    border: 0.05px solid #000;
}

#labelmsg {
    margin-left: 10px;
}

#buttonreset {
    height: 30px;
    margin: 10px;
}

#labelciphermsg {
    margin-left: 40px;
}

.footer {
    color: #16363A;
    background-color: #95BCCC;
    width: 800px;
    height: 40px;
    border: 1px solid #000;
    box-shadow: -3px 3px 10px 0 rgba(55, 57, 60, 0.3);
    border-radius: 15px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 5px;
    position: absolute;
    bottom: 0;
    margin-left: -400px;
}

.navfoot {
    display: flex;
    justify-content: space-around; 
}

.popwhat, .pophow {
    background-color: hsla(197, 35% , 69%, 1);
    border: none;
    font-size: 14px;
    font-weight: 600;
    margin-top: 3px;
    cursor: pointer;
}

.popwhat {
    margin-left: 80px;
}

.whatsectionpop {
    display: none;
    background-color: #fff;
    color: #16363A;
    box-shadow: -3px 3px 10px 0 rgba(55, 57, 60, 0.3);
    border-radius: 30px;
    position: fixed;
    top: 25%;
    left: 30.5%;
    width: 600px;
    height: 400px;
    
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 22px;
}

.popup-content {
    padding-top: 30px;
}

.popup-content > p {
    margin: 10px;
    margin-bottom: 20px;
}


.pophow {
    margin-right: 62px;
}

.howsectionpop {
    display: none;
    background-color: #fff;
    color: #16363A;
    box-shadow: -3px 3px 10px 0 rgba(55, 57, 60, 0.3);
    border-radius: 30px;
    position: fixed;
    top: 25%;
    left: 30.5%;
    width: 600px;
    height: 400px;
    
}

.popuphow-content {
    padding-top: 30px;
}

.popuphow-content > p {
    margin: 10px;
    margin-bottom: 20px;
}

.copy {
    position: absolute;
    bottom: 2px;
    right: 2px;
}